---
# SPDX-License-Identifier: MIT

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
- repo: https://github.com/pocc/pre-commit-hooks
  rev: v1.3.5
  hooks:
  - id: clang-tidy
- repo: local
  hooks:
  - id: fmt
    name: fmt
    entry: cargo fmt --manifest-path ollama/Cargo.toml
    language: system
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy --manifest-path ollama/Cargo.toml -- -D warnings -D missing_docs
    language: system
    pass_filenames: false
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.0
  hooks:
  - id: mypy
- repo: https://github.com/PyCQA/bandit
  rev: 1.9.2
  hooks:
  - id: bandit
    args: [--skip, B101]  # Skip assert checks
- repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  rev: v1.4.2
  hooks:
  - id: python-safety-dependencies-check
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
  - id: shellcheck
- repo: https://github.com/AleksaC/hadolint-py
  rev: v2.14.0
  hooks:
  - id: hadolint
    args: [--ignore, DL3007, --ignore, DL3008, --ignore, DL3013, --ignore, DL3015]
